.img{
    text-align: center;
}

body{
    background-color: #E6E6E6;
    font-family:'Times New Roman', Times, serif;
}

#italic{
    font-style: italic;
    font-weight: bold;
}

#strong{
    font-weight: bold;
}

h1{
    text-align: center;
    font-size: 35px;
    font-weight: 700, bold;
    background-color: #C4C4C4;
    color: #005677;
    word-spacing: 100%;
    letter-spacing: 4px;
}

h2{
    background-color: #C4C4C4;
    color: #005677; 
    letter-spacing: 4px;
}

.foot{
    background-color: #005677;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}
